version: '3.3'

services:
  web:
    container_name: app
    image: thecodingmachine/php:8.0-v4-apache-node14
    environment:
      APACHE_DOCUMENT_ROOT: public
      PHP_EXTENSION_XDEBUG: 0
      PHP_EXTENSION_GD: 1
      PHP_EXTENSION_LDAP: 1
      PHP_INI_UPLOAD_MAX_FILESIZE: "50M"
      PHP_INI_XDEBUG__MODE: 'develop,coverage'
      PHP_INI_MAX_EXECUTION_TIME: 120
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    env_file:
      - ./.env

volumes:
  mysql_data:
    driver: local
